@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
